#toggle-columns-btn {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.inventory {
  padding: 20px;
}

#inventory-table-container {
  max-height: 800px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

#inventory-table-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.table th,
.table td {
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 15px;
  font-size: 14px;
}

.table th {
  background-color: #fafafa;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: 600;
}

.table tr:hover {
  background-color: #f0f0f0;
}

.table .hidden {
  display: none;
}

.table th:nth-child(n+4),
.table td:nth-child(n+4) {
  text-align: center;
}
