<!-- 默认显示仪表盘 -->
<div class="dashboard">
  <h1>Dashboard</h1>
  <div class="stats">
    <div class="stat-card">
      <i class="fas fa-boxes"></i>
      <div>
        <h3>TotalProduct</h3>
        <p>0</p>
      </div>
    </div>
    <div class="stat-card">
      <i class="fas fa-warehouse"></i>
      <div>
        <h3>Total Stock</h3>
        <p>0</p>
      </div>
    </div>
    <div class="stat-card">
      <i class="fas fa-exchange-alt"></i>
      <div>
        <h3>Transaction</h3>
        <p>0</p>
      </div>
    </div>
  </div>
  <h2>Coldroom Temperature</h2>
  <div class="temperature-cards-container">
    <div class="Tempstats" id="temperature-summary-container"></div>
  </div>
</div>
