<div class="stock-take">
  <div class="cr-temperature-container modern-container">
    <div class="form-group-st">
      <label for="date-picker" data-translate="Date:">Date:</label>
      <input type="date" id="date-picker" class="modern-date-picker">
      
    </div>
    <div id="stock-take-tab-nav" class="tab-nav"></div>
  </div>
  
  <div class="table-container-split modern-table-container">
    <div class="table-wrapper" id="morning-wrapper">
      <h2 data-translate="Morning">Morning</h2>
      <table class="stock-take-table">
        <thead>
          <tr>
            <th data-translate="Product Description">Product Description</th>
            <th data-translate="Packing Size">Packing Size</th>
            <th data-translate="Ctn">Ctn</th>
            <th data-translate="Pkt">Pkt</th>
          </tr>
        </thead>
        <tbody id="morning-table-body">
        </tbody>
      </table>
    </div>
    <div class="table-wrapper" id="afternoon-wrapper">
      <h2 data-translate="Afternoon">Afternoon</h2>
      <table class="stock-take-table">
        <thead>
          <tr>
            <th data-translate="Product Description">Product Description</th>
            <th data-translate="Packing Size">Packing Size</th>
            <th data-translate="Ctn">Ctn</th>
            <th data-translate="Pkt">Pkt</th>
            <th class="comparison-header" data-translate="Comparison">Comparison</th>
          </tr>
        </thead>
        <tbody id="afternoon-table-body">
        </tbody>
      </table>
    </div>
  </div>
</div>
