<div class="transactions">
  <div class="table-container">
      <table class="data-table">
          <thead>
              <tr>
                  <th data-translate="Transaction Date">Transaction Date</th>
                  <th data-translate="Item Code">Item Code</th>
                  <th data-translate="Product Description">Product Description</th>
                  <th data-translate="Warehouse">Warehouse</th>
                  <th data-translate="Quantity">Quantity</th>
                  <th data-translate="Operator">Operator</th>
              </tr>
          </thead>
          <tbody id="transactions-table-body">
          </tbody>
      </table>
      <div class="pagination" id="pagination">
      </div>
  </div>
</div>
